.footer-phrase {
    font-size: 1rem;
    font-style: normal;
    color: white;
}

.footer-container {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.footer-content {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .footer-content{
        display: block;
    }

    .footer-phrase {
        max-width: 100%;
        font-size: 0.7rem;
        width: 100%;
    }

    img {
        width: 100%;
    }
}