.footer-phrase {
    font-size: 1rem;
    font-style: normal;
    color: white;
}

.footer-container {
    width: 100%;
    height: 36.625em;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3rem;

}

.footer-content {
    display: flex;
    gap: 2rem;
}