.map_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
  will-change: filter;
}

.map:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.map_title {
  font-size: 4.31em;
  font-weight: 500;
  margin-bottom: 0.02em;
  color: #322cc4;
  text-align: center;
}

.map_description {
  font-size: 1.9em;
  font-weight: 350;
  margin: 0.5em 0;
  width: 60%;
  margin-bottom: 1.5em;
  color: black;
}
.map_description_s {
  font-size: 1em;
  font-weight: 350;
  margin: 1.2em 0;
  width: 60%;
  margin-bottom: 1.5em;
  color: black;
}

.map_subdescription {
  font-size: 0.6em;
}

.highlight {
  font-weight: 800;
  display: inline;
}

@media (max-width: 768px) {
  .map_description {
    width: 90%;
  }

  .map {
    width: 100%;
  }
  .map_title {
    font-size: 3.5em;
  }
}
